.header-wrapper {display: flex; justify-content: space-between; align-items: center; background-color: #444; color: #fff;}

.header-wrapper .logo {padding: 1em 1.5em; font-size: 1.25em;}

.header-wrapper .navi-wrap {display: flex;}
.header-wrapper .navi-wrap a {padding: 1.35em 1.5em; transition: all .5s;}
.header-wrapper .navi-wrap a:hover {background-color: antiquewhite; color: #222;}